body{ margin: 0px;}

header{ 
    background-color: white;
    text-align: center;
    padding: 15px;
}
     
      nav{ 
        background-color: rgb(48, 44, 44);
 
      }





       nav ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px; 
       }
       
       nav ul li{
        display: inline-block;
       
       }

       nav li{
        padding-top: 15px;
        padding-bottom: 20px;
        
       }

       nav a{
        padding: 30px;
       }

        
        .footer{
            text-align: center;
            background-color: rgb(48, 44, 44);
            padding-top: 20px;
            padding-bottom: 15px;
        }
    
    